.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

#header {
    height: 70px;
    background-color: #f00;
    display: table-row;
}

#footer {
    height: 80px;
    background-color: mediumaquamarine;
    display: table-row;
    text-align: center;
}

.footer-content {
    text-align: center;

}

.footer-content div {
    display: inline-block;
    margin: 5px 15px;
}

#playground {
    background-color: grey;
    color: black;
    height: 100%;
    display: table-row;
}

#provinceElement {
    width: 180px;
}

.brand-logo {
    font-size: 1.7em;
    color: white;
    margin: 0.7em 0;
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 0.7em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}