<!DOCTYPE HTML>
<html>
<head>
    <title>Codemotion 2017 Real-Time map dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% assets output="gen/libs.css",
        "libs/css/materialize.css",
        "libs/css/font-awesome.css",
        "css/appIO.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">

    {% endassets %}

</head>

<body>

<div id="wrapper">
    <div id="header" class="light-blue lighten-1">
        <div class="container"><a href="#" class="brand-logo left">Codemotion 2017</a>
            <ul class="right brand-logo">
                <li><span id="user-cnt">0</span> Users <a href="https://github.com/tuxskar/flask-socketio-map-dashboard" class="github-icon"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <div id="playground" class="row">
        <div id="map"></div>
    </div>


    <div id="footer">
        <div class="col s12 footer-content">
            <button class="waves-effect waves-light btn" id="vote-down"><i class="material-icons">thumb_down</i>
            </button>
            <div class="input-field col s12 m6">
                <select id="provinceElement">
                    <option value="" disabled selected>Choose a province</option>
                </select>
            </div>
            <button class="waves-effect waves-light btn" id="vote-up"><i class="material-icons">thumb_up</i></button>
{#            <button class="waves-effect waves-light btn hidden" id="reset-votes"><i class="material-icons">autorenew</i></button>#}
            <button class="waves-effect waves-light btn hidden" id="reset-votes"><i class="material-icons">autorenew</i></button>
        </div>
    </div>


</div>


</body>
{% assets filters="jsmin", output="gen/libs.js",
"libs/js/socket.io.min.js", "libs/js/jquery.2.2.4.min.js",
"libs/js/materialize.js"
, "libs/js/d3.3.5.3.min.js", "libs/js/topojson.1.6.9.min.js", "libs/js/datamaps.esp.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets output="gen/appIO.js",
"js/appIO.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if auto_move %}
    {% assets output="gen/appIO-auto_move.js", "js/auto-vote.js" %}
        <script>
            userMaxTimeWait = {{ max_time_wait }};
        </script>
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endif %}

{% if reset_votes %}
    {% assets output="gen/appIO-reset_votes.js", "js/reset-votes.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endif %}


</html>
